<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :hashed_password %><br />
    <%= f.text_field :hashed_password %>
  </p>
  <p>
    <%= f.label :salt %><br />
    <%= f.text_field :salt %>
  </p>
  <p>
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </p>
  <p>
    <%= f.label :email_2 %><br />
    <%= f.text_field :email_2 %>
  </p>
  <p>
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth %>
  </p>
  <p>
    <%= f.label :home_phone %><br />
    <%= f.text_field :home_phone %>
  </p>
  <p>
    <%= f.label :work_phone %><br />
    <%= f.text_field :work_phone %>
  </p>
  <p>
    <%= f.label :cell_phone %><br />
    <%= f.text_field :cell_phone %>
  </p>
  <p>
    <%= f.label :job_title %><br />
    <%= f.text_field :job_title %>
  </p>
  <p>
    <%= f.label :educational_inst %><br />
    <%= f.text_field :educational_inst %>
  </p>
  <p>
    <%= f.label :about %><br />
    <%= f.text_area :about %>
  </p>
  <p>
    <%= f.label :interests %><br />
    <%= f.text_area :interests %>
  </p>
  <p>
    <%= f.label :projects %><br />
    <%= f.text_area :projects %>
  </p>
  <p>
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </p>
  <p>
    <%= f.label :educational %><br />
    <%= f.text_field :educational %>
  </p>
  <p>
    <%= f.label :job_experience %><br />
    <%= f.text_field :job_experience %>
  </p>
  <p>
    <%= f.label :picture %><br />
    <%= f.text_field :picture %>
  </p>
  <p>
    <%= f.label :newsletter %><br />
    <%= f.check_box :newsletter %>
  </p>
  <p>
    <%= f.label :others_skills %><br />
    <%= f.text_field :others_skills %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
