<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%=h @user.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Country:</b>
  <%=h @user.country %>
</p>

<p>
  <b>Hashed password:</b>
  <%=h @user.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%=h @user.salt %>
</p>

<p>
  <b>Role:</b>
  <%=h @user.role %>
</p>

<p>
  <b>Email 2:</b>
  <%=h @user.email_2 %>
</p>

<p>
  <b>Date of birth:</b>
  <%=h @user.date_of_birth %>
</p>

<p>
  <b>Home phone:</b>
  <%=h @user.home_phone %>
</p>

<p>
  <b>Work phone:</b>
  <%=h @user.work_phone %>
</p>

<p>
  <b>Cell phone:</b>
  <%=h @user.cell_phone %>
</p>

<p>
  <b>Job title:</b>
  <%=h @user.job_title %>
</p>

<p>
  <b>Educational inst:</b>
  <%=h @user.educational_inst %>
</p>

<p>
  <b>About:</b>
  <%=h @user.about %>
</p>

<p>
  <b>Interests:</b>
  <%=h @user.interests %>
</p>

<p>
  <b>Projects:</b>
  <%=h @user.projects %>
</p>

<p>
  <b>Keywords:</b>
  <%=h @user.keywords %>
</p>

<p>
  <b>Educational:</b>
  <%=h @user.educational %>
</p>

<p>
  <b>Job experience:</b>
  <%=h @user.job_experience %>
</p>

<p>
  <b>Picture:</b>
  <%=h @user.picture %>
</p>

<p>
  <b>Newsletter:</b>
  <%=h @user.newsletter %>
</p>

<p>
  <b>Others skills:</b>
  <%=h @user.others_skills %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
